.container {
  width: 100%;
  padding: 15px 70px;
}

.main {
  height: 120vh;
  background: url(../../images/bursts.svg) no-repeat;
  background-size: 175%;
  background-position: 46% 15%;
  font-family: "Circular Std Bold", sans-serif;
  background-color: #2940a8;
  color: #1ed760;
}

a {
  text-decoration: none;
  color: #2940a8;
  font-family: "Circular Std Black", sans-serif;
}

button {
  color: transparent;
  background-color: #1ed760;
}

.tagline-wrapper {
  margin-top: 100px;
  text-align: center;
}

.tagline-top {
  width: 800px;
  margin: auto;
}

.tagline-top h1 {
  z-index: 99;
  letter-spacing: -0.04em;
  font-family: "Circular Std Black", sans-serif;
  font-size: 156px;
  margin-top: -10px;
  margin-left: -200px;
}

.tagline-top span {
  font-family: "Circular Std Black", sans-serif;
  font-size: 150px;
  margin-right: -500px;
}

.tagline-bottom h4 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 40px;
}

.tagline-bottom button {
  cursor: pointer;
  width: 282px;
  font-size: 14px;
  padding: 16px 40px;
  border: none;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.tagline-bottom button:hover {
  background-color: white;
}
